.grid-square {
  box-sizing: border-box;
  display: grid;
  border-style: solid;
  border-color: azure;
  align-items: center;
  justify-content: center;
}

.number {
  color: azure;
  font-weight: bold;
}
